<section class="topo">
  <h1>{{ title }}</h1>

</section>

<section class="tasks">
  <button class="tasks__buttom" (click)="showList = !showList">Mostrar lista</button>
  <input #addnewtask type="text" name="taskname" (input)="newTask(addnewtask.value)" placeholder="Digite o nome da tarefa">
  <button class="tasks__buttom" (click)="addTask()">Adicionar tarefa</button>
  @if (showList){
  <h3 class="tasks__title">Lista de tarefas</h3>
  <ul class="tasks__list">
    @for (task of tasks; track $index) {
      <li class="tasks__list__item" [ngClass]="{'tasks__list__item--done': task.done}">
        <input type="checkbox" [(ngModel)]="task.done"><p>{{task.title}}</p>
        <button class="removebuttom"(click)="removeTask($index)">Remover</button>
        @if (task.daysleft){
          <p class="daysleft">Faltam {{task.daysleft}} dias.</p>
        }
      </li>
    }
  </ul>
  } @else {
  <h3>Lista de tarefas oculta</h3>
  }
</section>